# Create a Reddit application at https://www.reddit.com/prefs/apps (type: script).
REDDIT_CLIENT_ID=your_client_id
REDDIT_CLIENT_SECRET=your_client_secret
REDDIT_USER_AGENT=linux:reddit-scraper:1.0 (by /u/yourname)

POSTGRES_DB=reddit
POSTGRES_USER=reddit
POSTGRES_PASSWORD=change-this-to-a-long-random-password
